.about-info {
  padding: 1px;
  background-color: var(--clr-bg-secondary);
}

.about-title {
  margin-top: var(--ind-lr);
  color: var(--clr-txt-primary);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-extra-bold);
  font-size: 3.375rem;
  line-height: 1.2;
}

.about-subtitle {
  max-width: 56.25rem;
  padding-top: var(--ind-sm);
  padding-bottom: var(--ind-xl);
  margin: 0 auto;
  color: var(--clr-txt-secondary);
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: 1.5rem;
  line-height: 1.2;
}

.img-about-wrapper {
  margin: 0 auto;
  margin-top: -3.125rem;
  width: fit-content;
  border: var(--brd-md) solid var(--clr-brd-primary);
  border-radius: var(--brd-rd-md);
  // обрезаю фото
  overflow: hidden;
}

.about-img {
  aspect-ratio: 3 / 4;
  width: 21.875rem;
}
