#about {
  background-color: var(--clr-bg-secondary);
  padding: 1px;
  position: relative;
}

.about-title {
  margin-top: var(--ind-lr);
  color: var(--clr-txt-primary);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-extra-bold);
  font-size: 3.375rem;
  line-height: 1.2;
}

.about-subtitle {
  max-width: 56.25rem;
  padding-top: var(--ind-sm);
  padding-bottom: var(--ind-xl);
  margin: 0 auto;
  color: var(--clr-txt-secondary);
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: 1.5rem;
  line-height: 1.2;
}

.about-img {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 3 / 4;
  width: 21.875rem;
  border: var(--brd-md) solid var(--clr-brd-primary);
}
