.hero-title {
  margin-top: var(--ind-lr);
  color: var(--clr-txt-primary);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-extra-bold);
  font-size: 3.375rem;
  line-height: 1.2;
}

.hero-subtitle {
  max-width: 56.25rem;
  padding: var(--ind-sm);
  margin: 0 auto;
  color: var(--clr-txt-secondary);
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: 1.5rem;
  line-height: 1.2;
}

.hero-img {
  max-width: 80vw;
  margin: 0 auto;
}
