.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  //TODO — в адптиве в меню уводить с 768px, либо уменьшать гап, подуммать над clamp
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-right: auto;
}

.navigation-link {
  display: inline-block;
  padding: 8px 12px;
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-txt-primary);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    border: var(--brd-md) solid currentColor;
    border-radius: 0.25rem;
    outline: none;
    margin: -2px;
  }
}
