@use "base" as *;
@use "components";

// Fonts
@font-face {
  font-family: "TildaSans";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/TildaSans-Light.woff2) format("woff2"),
    url(../fonts/TildaSans-Light.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TildaSans-Regular.woff2) format("woff2"),
    url(../fonts/TildaSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/TildaSans-Medium.woff2) format("woff2"),
    url(../fonts/TildaSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/TildaSans-Bold.woff2) format("woff2"),
    url(../fonts/TildaSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/TildaSans-Semibold.woff2) format("woff2"),
    url(../fonts/TildaSans-Semibold.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/TildaSans-ExtraBold.woff2) format("woff2"),
    url(../fonts/TildaSans-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "TildaSans";
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/TildaSans-Black.woff2) format("woff2"),
    url(../fonts/TildaSans-Black.woff) format("woff");
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
}
