:root {
  /* Font Family */
  --ff-primary: "TildaSans", sans-serif;
  /* Font - Styles */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  /* Colors - elements */
  --clr-bg-primary: #f8f8f8;
  --clr-bg-secondary: #5dd9c8;
  --clr-bg-tretiary: #8063a6;
  --clr-bg-accent: #ff9235;
  /* Colors - text */
  --clr-txt-primary: #1d223c;
  --clr-txt-secondary: #3b3f56;
  --clr-txt-tretiary: #ffffff;
  --clr-txt-accent: #ff9235;
  /* Colors - border*/
  --clr-brd-primary: #5dd9c8;
  --clr-brd-secondary: #8063a6;
  --clr-brd-tretiary: #1d223c;
  --clr-brd-accent: #ff9235;
  /* Indents*/
  --ind-xl: 5rem;
  --ind-lr: 3.75rem;
  --ind-md: 2.5rem;
  --ind-sm: 2rem;
  --ind-xs: 1.5rem;
  /* Border*/
  --brd-lg: 0.1875rem;
  --brd-md: 0.125rem
  --brd-sm: 0.0625rem;
  /* Border radius*/
  --brd-rd-lg: 0.9375rem;
  --brd-rd-md: 0.75rem;
  --brd-rd-sm: 0.0625rem;
}
